1.txt
2.txt
example (1)(3) — копия.csv
Лист Microsoft Excel (2).xlsx
Лист Microsoft Excel.xlsx
Новый текстовый документ (2).txt
Лист Microsoft Excel (3).xlsx
Новый текстовый документ.txt
edited_file.csv
edited_file.txt
edited_file10.txt
edited_file11.txt
edited_file12.txt
edited_file2.txt
edited_file4.txt
edited_file5.txt
edited_file6.txt
edited_file7.txt
edited_file8.txt
edited_file9.txt
